
.icon{
  height: 30px;
  margin-right: 10px;
}


.form-control-img {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search{
 width: 40%;
}

.card-img-top-style{
  aspect-ratio: 1 / 1;

}

.sell-log{
  border-top: 1px solid rgba(0,0,0,.125);
}



/*販売商品タブ*/
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
    color: rgb(255, 255, 255);
    background:  rgba(0,0,0,.125);
    float: left;
    margin: 0;
    margin-left: 5px;
    order: -1;

}
.tab-content {
    width: 100%;
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: #007BFF;
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-radius: 0.25rem;
}

/*スマホのみ*/
.cardheder-smartphone{
  display: none;
}

.card-tools-sm{
  display: none;
}



@media screen and (max-width: 600px) {
.search{
  display: none;
}

.cardheder-smartphone{
  display: block;
}

.card-tools-sm{
  display: block;
}

    }


